{{ 'section-collection-menu.css' | asset_url | stylesheet_tag }}

{%- # Label: Collections Menu -%}
{%- assign collections_menu = section.settings.collections_menu.links -%}
{%- if collections_menu != blank -%}
    <div class='page-width'>
        <ul class="menu-collections">
            {%- for link in collections_menu -%}
            {{ link.title | link_to: link.url }}
            {%- endfor -%}
        </ul><!--End menu-collections-->
    </div>
{%- endif -%}

{% schema %}
  {
  "name": "Collection Navigation",
  "class": "section section-collection-nav",
  "tag": "section",
  "settings": [
    {
      "type": "link_list",
      "id": "collections_menu",
      "label": "Collections Menu",
      "info": "Choose a menu to show at the top of all Collections"
    }
  ],
  "presets": [
    {
      "name": "Collection Navigation"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}