{{ 'section-retailers.css' | asset_url | stylesheet_tag }}

<div class="inner">

  <div class="retailer-grid">

    {%- for block in section.blocks -%}
      {%- case block.type -%}

        {%- when 'retailer' -%}

          <div class="retailer bg-chevron-white">
            <h2 class="header-ex">{{ block.settings.name }}</h2>          
            {{ block.settings.retailer_info }} 
          </div><!--End retailer-->

      {%- endcase -%}
    {%- endfor -%}

</div><!--End retailer-grid-->

</div><!--End inner-->

{% schema %}
  {
  "name": "Retailers",
  "class": "section retailers",
  "tag": "section",
  "settings": [],
  "blocks": [
    {
      "name": "Retailer",
      "type": "retailer",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Name",
          "placeholder": "Retailer Name",
          "info": "Add the name of this retailer"
        },
        {
          "type": "richtext",
          "id": "retailer_info",
          "label": "Retailer Info",
          "info": "Enter the information for this retailer (Address, Phone number, etc.) here"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Retailers"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}