// Judge.Me Styling overrides

h2 {
    .jdgm-carousel-title {
        font-family: var(--font-family-script);
        font-weight: normal;
        font-size:60px;
        @include breakpoint(tablet) {

        }
    }
}