// Judge.Me Styling overrides
section {

    h2 {
        &.jdgm-carousel-title,
        &.jdgm-rev-widg__title {
            font-family: var(--font-family-script);
            color:var(--color-main);
            font-weight: normal;
            font-size:5.6rem;
            margin-bottom:2.5rem;
            line-height:1em;

            @include breakpoint(tablet) {
                font-size:7.5rem;
                margin-bottom:5rem;
            }
            @include breakpoint(laptop) {
                font-size:10rem;
                margin-bottom:5rem;
            }
        }
    }
    .jdgm-carousel__item-container {
        height:auto !important;
    }
    .jdgm-carousel-wrapper {
    
        width:100%;

        .jdgm-carousel__item-wrapper {
            height:auto;
        }
        .jdgm-all-reviews-rating-wrapper {
            display:none !important;
        }
    }
    .jdgm-carousel-item {
        display:inline-flex;
        flex-wrap:wrap;
        align-items: flex-start;
    
        & > * {
            width: 100%;
        }
    
        .jdgm-carousel-item__review {
            display:inline-flex;
            flex-wrap: wrap;
            align-items: flex-start;
    
            & > * {
                width: 100%;
            }
    
            .jdgm-carousel-item__review-content {
                order:1;
                .jdgm-carousel-item__review-body {
                    -webkit-line-clamp:4 !important;
    
                    p {
                        font-size:1.24rem;

                        @include breakpoint(laptop) {
                            font-size:1.6rem;
                        }

                        @include breakpoint(desktop) {
                            font-size:1.8rem;
                        }
                    }
                }
                .jdgm-carousel-item__review-title {
                    color:var(--color-main);
                    font-size:1.5rem;
                    line-height:1.1em;
                    font-family: var(--font-family-header-ex);
                    text-transform: uppercase;
                    letter-spacing:.12em;
                    font-weight: normal;
                    margin-bottom:1em;

                    @include breakpoint(desktop) {
                        font-size:2.1rem;
                    }
                }
            }
            .jdgm-carousel-item__review-rating {
                order:2;
                font-size:90%;
                margin-top:12px;
            }
        }

        .jdgm-carousel-item__reviewer-name {
            font-family: var(--font-family-script);
            font-weight: normal;
            font-size:2.7rem;
            color:var(--color-main);
            opacity:1;
            margin-top:24px;

            @include breakpoint(desktop) {
                font-size:3.6rem;
            }
        }
    }

    .jdgm-prev-badge__text {
        display:block;
        font-size:1.35rem;
        padding-top:.2rem;

        @include breakpoint(tablet) {
            display:inline-block;
            vertical-align:top;
            padding-left:1rem;
        }
    }
    
    // Custom Stars

    .jdgm-rev-widg__summary-average {
        display:block;
        color:var(--color-dark-grey);
        margin-top:1.6rem;
    }
    .jdgm-rev-widg__summary-text {
        color:var(--color-dark-grey);
    }
    .jdgm-rev-widg__summary-stars {
        .jdgm-star {
            @include breakpoint(laptop) {
                width:3.1rem;
                height:3.1rem;
                margin:0 .4rem !important;
            }
        }        
    }
    .jdgm-form__rating {
        .jdgm-star {
            @include breakpoint(laptop) {
                width:3.1rem;
                height:3.1rem;
                margin:0 .4rem !important;
            }
        }     
    }

    .jdgm-star {
        width:1.8rem;
        height: 1.8rem;
        aspect-ratio: 1 / 1;
        display: inline-block !important;
        margin:0 .1rem !important;

        

        @include breakpoint(desktop) {
            width:2.4rem;
            height:2.4rem;

            &:first-child {
                margin-left:0 !important;
            }
        }
       

        

        &.jdgm--on {

            background:url('icon-star-rating-on.svg') center no-repeat;
            background-size:cover;

            &:before {
                opacity:0;
            }

        }

        &.jdgm--off {

            background:url('icon-star-rating-off.svg') center no-repeat;
            background-size:cover;

            &:before {
                opacity:0;
            }

        }
    }

    // Actions (Sorting) Row
    .jdgm-row-actions {
        border:0;
        display: none !important;
    }

    
}

// Cards Layout

// Remove box shadow from all elements
.jdgm--leex-script-loaded .jdgm-rev-widg__header, 
.jdgm--leex-script-loaded .jdgm-rev-widg__actions, 
.jdgm--leex-script-loaded .jdgm-rev, 
.jdgm--leex-script-loaded .jdgm-quest {
    box-shadow:none !important;
    border:0;
}
// Review Widget Title

.jdgm--leex-script-loaded .jdgm-rev-widg__title {
    color:var(--color-main) !important;
   // margin-bottom:0rem !important;
}

// Actions (Sort)
.jdgm--leex-script-loaded .jdgm-subtab+.jdgm-row-actions {
    border:0;
}

// Main Review Widget
.jdgm-rev-widg {

    margin:6rem auto 8rem auto !important;

    font-size:1.6rem;

    @include breakpoint(laptop) {
        font-size:1.8rem;
        margin:8rem auto 12rem auto !important;
    }
    // Header 
    .jdgm-row-stars {
        width:100% !important;
        flex-wrap: wrap;
        position:relative;
        padding-bottom:5.4rem !important;

        @include breakpoint(laptop) {
            padding-bottom:7.4rem !important;
        }

        &::after {
            content:"";
            background:url('divider-notch-wide.svg?v=1') center center no-repeat;
            display:block;
            position:absolute;
            bottom:0px;
            left:0px;
            height: 20px;
            width: 100%;
            z-index: 1;
    
            @include breakpoint(laptop) {
                height: 30px;
            }
    
        }
    }

    .jdgm-rev-widg__summary {
        width:100% !important;
    }

    .jdgm-rev-widg__summary-inner {
        text-align: center !important;
    }

    //Action Buttons
    .jdgm-widget-actions-wrapper {
        width:100% !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        justify-content: space-between;
        border:0px !important;
        gap:0rem;
        margin-top:2.4rem;
        display: flex;

        @include breakpoint(tablet) {
            margin-top:4rem;
            flex-wrap: wrap !important;
            justify-content: center;
            gap:2rem;
        }

        .jdgm-write-rev-link, .jdgm-ask-question-btn {
            font-family:var(--font-family-header-ex);
            text-transform: uppercase;
            font-weight: normal;
            letter-spacing: .35em;
            font-size:1.2rem;
            padding:1.5rem 2rem;
            letter-spacing: 0.1rem;
            transition:all .25s ease 0s;
            width:48%;

            &:hover {
                opacity:1;
                transition:all .25s ease 0s;
            }

            @include breakpoint(tablet) {
                width: auto;
                font-size:1.6rem;
                padding:2rem 3rem;
                max-width: 26rem !important;
                letter-spacing:.1rem;
            }

            @include breakpoint(laptop) {
                font-size: 1.8rem; 
                padding:1.9rem 3rem;
                letter-spacing:.3rem;
                max-width:26rem !important;
            }
        }
        .jdgm-write-rev-link {
            margin:0px;
            &:hover {
                background-color:var(--color-accent) !important;
            }
            @include hover_notch();
        }

        .jdgm-ask-question-btn.jdgm-ask-question-btn {
            margin:0;
            &:hover {
                color:var(--color-accent);
                border-color:var(--color-accent);
              }
        }
    }

    // Media
    .jdgm-row-media {
        text-align:center;
        border:0;
        margin-top:2rem;

        // Thumbnail
        .jdgm-gallery__thumbnail-link {
            float:none;
        }
    }
    .jdgm-gallery-wrapper {
        padding-right: 0 !important;
        width:112rem;
        max-width: 100%;
    }
    .jdgm-gallery-title {
        color:var(--color-main);
        margin-bottom:2rem;
        font-family: var(--font-family-header-alt);
    }
    .jdgm-gallery {
        width:100%;

        .jdgm-gallery__thumbnail.jdgm-gallery__thumbnail {
            @include breakpoint(tablet) {
                padding:.6rem;
            }
        }
    }

    // Review + Questions Actions

    .jdgm-rev-widg__actions {
        .jdgm-subtab {
            display:flex;
            justify-content: center;
            text-align: center;
            align-items: flex-start;
            gap:1.2rem;

            @include breakpoint(tablet) {
                gap:2rem;
            }
            @include breakpoint(laptop) {
                gap:4rem;
            }

            

            span {
                font-family:var(--font-family-header-ex);
                text-transform: uppercase;
                font-weight: normal;
                font-size:2rem;
                letter-spacing:.1rem;
                padding:0;
                color: var(--color-main);

                @include breakpoint(tablet) {
                    font-size:2.5rem;
                    letter-spacing:.1rem;
                }
                @include breakpoint(laptopwide) {
                    font-size:3rem;
                    letter-spacing:.2rem;
                }

                &.jdgm-subtab__name {
                    text-decoration: none;

                    &:hover {
                        transition:all .3s ease 0s;
                        color:var(--color-accent);
                        opacity:1;
                    }
                }
                &.jdgm-subtab__name.jdgm--active {
                    background-color:transparent;
                    display:inline-block;
                    padding:0 1rem 0 1rem;
                    border-style: dotted;
                    border-width: 0 0 6px 0;
                    border-color: var(--color-accent);
                    border-image-source: url('border-dot-red.svg?v=1');
                    border-image-slice: 24% 24% 24% 24%;
                    border-image-repeat: round;

                    @include breakpoint(tablet) {
                        border-width: 0 0 8px 0;
                        border-image-slice: 26% 26% 26% 26%;
                    }
                }
            }
        }
    }

    // Search Bar
    .jdgm-review-search-wrapper {

        &::after {
            color:var(--color-main);
        }

    }
    .jdgm-row-search {
        border:0;

        .jdgm-review-search:not([type="submit"]) {
            padding:12px 40px 12px 16px;
            border:2px solid var(--color-main);
            color:var(--color-main);
            font-style:italic;
            background-color:#f4f4f4;
            font-size:1.6rem;
            letter-spacing: 0;

            @include breakpoint(laptop) {
                font-size:1.8rem;
                padding: 12px 40px 12px 16px;
            }
           

            &::placeholder {
                color:var(--color-main);
            }
        }
    }

    // Review Columns/Masonry Blocks

    .jdgm-rev-widg__body {
        border-top:.2rem solid var(--color-main);
        border-bottom:.2rem solid var(--color-main);
        padding:5rem 0;

        @include breakpoint(laptop) {
            border-width:.3rem;
            padding:6rem 0;
        }

        //Reviews wrapper
        .jdgm-rev-widg__reviews {

            // Single review element
            .jdgm-rev.jdgm-rev {
                color:var(--color-text);
                display:inline-flex;
                flex-wrap: wrap;
                align-items: flex-start;
                text-align:center;
        
                & > * {
                    width: 100%;
                }

                //Individual review pics (place in media bar instead)
                .jdgm-rev__pics {
                    display:none !important;
                }

                // Individual review content
                .jdgm-rev__content {
                    order:1;
                    .jdgm-rev__body {
        
                        p {
                            font-size:1.6rem;
    
                            @include breakpoint(laptop) {
                                font-size:1.6rem;
                            }
    
                            @include breakpoint(desktop) {
                                font-size:1.8rem;
                            }
                        }
                    }
                    .jdgm-rev__title {
                        color:var(--color-main);
                        font-size:1.5rem;
                        line-height:1.1em;
                        font-family: var(--font-family-header-ex);
                        text-transform: uppercase;
                        letter-spacing:.12rem;
                        font-weight: normal;
                        margin-bottom:1em;
    
                        @include breakpoint(desktop) {
                            font-size:2.1rem;
                        }
                    }
                }
                // Individual review header (title, stars)
                .jdgm-rev__header {
                    order:2;
                    display:inline-flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
            
                    & > * {
                        width: 100%;
                    }

                    .jdgm-row-rating {
                        order:1;
                        font-size:90%;
                        margin-top:12px;

                        // hide date of review
                        .jdgm-rev__timestamp {
                            display:none;
                        }
                    }
                    .jdgm-row-profile {
                        order:1;
                        font-family: var(--font-family-script);
                        font-weight: normal;
                        font-size:2.7rem;
                        color:var(--color-main);
                        opacity:1;
                        margin-top:0;

                        .jdgm-rev__icon {
                            display: none !important;
                        }
            
                        @include breakpoint(desktop) {
                            font-size:3.6rem;
                        }
                    }

                }
                
            }
        }

        // Pagination
        .jdgm-paginate {
            //hide last page button
            a.jdgm-paginate__last-page {
                display: none;
            }
            .jdgm-paginate__page {

                font-size:1.6rem;

                @include breakpoint(tablet) {
                    font-size:2rem;
                }
                //active/current page
            
                &.jdgm-curt {
                    font-size:120%;
                    padding-bottom:0;
                    font-family: var(--font-family-header-ex);
                    font-weight: normal;
                    color:var(--color-main);
                }

            }
            
        }
    }
    

    // Questions 

    .jdgm-quest-widg__body {
        .jdgm-quest {

            width:107.3rem;
            max-width:100%;
            margin:0 auto;

            .jdgm-row-profile {
                font-family: var(--font-family-script);
                font-weight: normal;
                font-size:2.7rem;
                color:var(--color-main);
                opacity:1;
                margin-top:0;

                .jdgm-rev__icon {
                    display: none !important;
                }
    
                @include breakpoint(tablet) {
                    font-size:3.6rem;
                }
            }

            .jdgm-quest__body {
                color:var(--color-main);
                line-height:1.2em;
                font-family: var(--font-family-header-ex);
                text-transform: uppercase;
                font-weight: normal;
                margin-bottom:1em;

                

                p {
                    font-size:1.8rem;
                    @include breakpoint(laptop) {
                        font-size:2.1rem;
                    }
                }
            }
            .jdgm-rev__timestamp, .jdgm-rev__pinned {
                color:var(--color-main);
                font-size:1.4rem;
                font-family: var(--font-family-header-alt);
    
                @include breakpoint(tablet) {
                    font-size:1.8rem;
                }
            }

            .jdgm-ans {
                padding:2rem;

                .jdgm-rev__br {
                    margin-top:.8rem;
                }

                p {
                    font-size:1.6rem;
                    @include breakpoint(laptop) {
                        font-size:1.8rem;
                    }
                }

                .jdgm-rev__timestamp, .jdgm-rev__pinned {
                    color:var(--color-text);
                    font-family:var(--font-family-body);
                    
                }
            }
            

        }
        
    }

    // Review / Question Form

    .jdgm-question-form-wrapper, 
    .jdgm-form-wrapper {
        padding:5rem;
        border:0;
    }
    .jdgm-form {
        width:81.5rem;
        max-width:100%;
    }
    .jdgm-form__title {
        color:var(--color-text);
        font-family:var(--font-family-header-ex);
        text-transform: uppercase;
        font-weight: normal;
        font-size:2.7rem;
        letter-spacing: 0;
        margin-bottom:4rem;

        @include breakpoint(tablet) {
            font-size:3.0rem;
            letter-spacing:.1rem;
        }

        @include breakpoint(laptop) {
            font-size: 3.6rem; 
            letter-spacing:.3rem;
            margin-bottom:5rem;
        }

    }
    .jdgm-form input[type="text"], 
    .jdgm-form input[type="email"], 
    .jdgm-form input[type="url"], 
    .jdgm-form textarea {
        padding:12px 40px 12px 16px;
        border:2px solid var(--color-main);
        color:var(--color-main);
        font-style:italic;
        background-color:#f4f4f4;
        font-size:1.6rem;
        letter-spacing: 0;

        @include breakpoint(laptop) {
            font-size:1.8rem;
            padding: 12px 40px 12px 16px;
        }
        

        &::placeholder {
            color:var(--color-main);
        }
    }
    .jdgm-picture-fieldset__box-wrapper {
        border:2px solid var(--color-main);
        background-color:#f4f4f4;
    }
    .jdgm-form__fieldset-actions {
        display:flex;
        align-items: stretch;
        justify-content: center;
    }
    .jdgm-form .jdgm-form__fieldset>label, 
    .jdgm-form .jdgm-form__fieldset .jdgm-form__inline-label {
        color:var(--color-main);
        font-family:var(--font-family-header-alt);
        margin-bottom:2rem;
    }
    .jdgm-form__fieldset:not(:last-of-type), 
    .jdgm-form__fieldset-actions {
        margin-bottom:5rem;
    }
    .jdgm-sort-dropdown {
        color:var(--color-main);
        font-family:var(--font-family-header-alt);
        border-style: dotted !important;
        border-width: 0 0 6px 0 !important;
        border-color: var(--color-accent) !important;
        border-image-source: url('border-dot-red.svg?v=1');
        border-image-slice: 24% 24% 24% 24%;
        border-image-repeat: round;
        font-size:1.6rem;
        padding:0;

        &::placeholder {
            font-size:inherit;
        }
    }
    //Form Submit buttons 

    .jdgm-btn--solid,
    .jdgm-btn--border, 
    input[type=submit],
    .jdgm-btn, 
    input[type=submit].jdgm-btn {
        font-family:var(--font-family-header-ex);
            text-transform: uppercase;
            font-weight: normal;
            font-size:1.2rem;
            padding:8rem 4rem;
            letter-spacing: 0;
            transition:all .25s ease 0s;

            &:hover {
                opacity: 1;
                transition:all .25s ease 0s;
            }

            @include breakpoint(tablet) {
                font-size:1.6rem;
                padding:1.5rem 2rem;
                max-width: none !important;
                letter-spacing:.1rem;
            }

            @include breakpoint(laptop) {
                font-size: 1.8rem; 
                padding:1.9rem 3rem;
                letter-spacing:.3rem;
                max-width:none !important;
            }
            
    }
    .jdgm-btn--border {
        &:hover {
            color:var(--color-accent) !important;
            border-color:var(--color-accent);
          }
    }
    input[type=submit].jdgm-btn {
        &:hover {
            background-color:var(--color-accent) !important;
        }
        @include hover_notch();
    }


}
