// Judge.Me Styling overrides
section {

    h2 {
        &.jdgm-carousel-title,
        &.jdgm-rev-widg__title {
            font-family: var(--font-family-script);
            font-weight: normal;
            font-size:6rem;

            @include breakpoint(laptop) {
                font-size:7.5rem;
            }
            @include breakpoint(desktop) {
                font-size:10rem;
            }
        }
    }
    .jdgm-carousel__item-container {
        height:auto !important;
    }
    .jdgm-carousel-wrapper {
    
        width:100%;

        .jdgm-carousel__item-wrapper {
            height:auto;
        }
        .jdgm-all-reviews-rating-wrapper {
            display:none !important;
        }
    }
    .jdgm-carousel-item {
        display:inline-flex;
        flex-wrap:wrap;
        align-items: flex-start;
    
        & > * {
            width: 100%;
        }
    
        .jdgm-carousel-item__review {
            display:inline-flex;
            flex-wrap: wrap;
            align-items: flex-start;
    
            & > * {
                width: 100%;
            }
    
            .jdgm-carousel-item__review-content {
                order:1;
                .jdgm-carousel-item__review-body {
                    -webkit-line-clamp:4 !important;
    
                    p {
                        font-size:1.24rem;

                        @include breakpoint(laptop) {
                            font-size:1.6rem;
                        }

                        @include breakpoint(desktop) {
                            font-size:1.8rem;
                        }
                    }
                }
                .jdgm-carousel-item__review-title {
                    color:var(--color-main);
                    font-size:1.5rem;
                    line-height:1.1em;
                    font-family: var(--font-family-header-ex);
                    text-transform: uppercase;
                    letter-spacing:.12em;
                    font-weight: normal;
                    margin-bottom:1em;

                    @include breakpoint(desktop) {
                        font-size:2.1rem;
                    }
                }
            }
            .jdgm-carousel-item__review-rating {
                order:2;
                font-size:90%;
                margin-top:12px;
            }
        }

        .jdgm-carousel-item__reviewer-name {
            font-family: var(--font-family-script);
            font-weight: normal;
            font-size:2.7rem;
            color:var(--color-main);
            opacity:1;
            margin-top:24px;

            @include breakpoint(desktop) {
                font-size:3.6rem;
            }
        }
    }

    .jdgm-prev-badge__text {
        display:block;
        font-size:1.35rem;
        padding-top:.2rem;

        @include breakpoint(tablet) {
            display:inline-block;
            vertical-align:top;
            padding-left:1rem;
        }
    }
    
    // Custom Stars

    .jdgm-star {
        width:1.8rem;
        height: 1.8rem;
        aspect-ratio: 1 / 1;
        display: inline-block !important;
        margin:0 .1rem !important;

        

        @include breakpoint(desktopwide) {
            width:2.4rem;
            height:2.4rem;

            &:first-child {
                margin-left:0 !important;
            }
        }

        

        &.jdgm--on {

            background:url('icon-star-rating-on.svg') center no-repeat;
            background-size:cover;

            &:before {
                opacity:0;
            }

        }

        &.jdgm--off {

            background:url('icon-star-rating-off.svg') center no-repeat;
            background-size:cover;

            &:before {
                opacity:0;
            }

        }
    }

    
}

// Cards Layout

// Remove box shadow from all elements
.jdgm--leex-script-loaded .jdgm-rev-widg__header, 
.jdgm--leex-script-loaded .jdgm-rev-widg__actions, 
.jdgm--leex-script-loaded .jdgm-rev, 
.jdgm--leex-script-loaded .jdgm-quest {
    box-shadow:none !important;
}
.jdgm-rev-widg.jdgm-rev-widg {

    // Header 
    .jdgm-row-stars {
        width:100% !important;
        flex-wrap: wrap;
        position:relative;
        padding-bottom:5.4rem !important;

        &::after {
            content:"";
            background:url('divider-notch-mobile.svg') center center no-repeat;
            display:block;
            position:absolute;
            bottom:0px;
            left:0px;
            height: 20px;
            width: 100%;
            z-index: 1;
    
            @include breakpoint(tablet) {
                background:url('divider-notch-desktop.svg') center center no-repeat;
            }
    
        }
    }

    .jdgm-rev-widg__summary {
        width:100% !important;
    }

    .jdgm-rev-widg__summary-inner {
        text-align: center !important;
    }

    //Action Buttons
    .jdgm-widget-actions-wrapper {
        width:100% !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        border:0px !important;
        gap:2rem;

        .jdgm-write-rev-link, .jdgm-ask-question-btn {
            font-family:var(--font-family-header-ex);
            text-transform: uppercase;
            font-weight: normal;
        }
        .jdgm-write-rev-link {
            margin:0px;
            width: auto;
        }

        .jdgm-ask-question-btn.jdgm-ask-question-btn {
            margin:0;
        }
    }

    // Media
    .jdgm-row-media {
        text-align:center;
        border:0;

        // Thumbnail
        .jdgm-gallery__thumbnail-link {
            float:none;
        }
    }

    // Review + Questions Actions

    .jdgm-rev-widg__actions {
        .jdgm-subtab {
            display:flex;
            justify-content: center;
            text-align: center;

            span {
                font-family:var(--font-family-header-ex);
                text-transform: uppercase;
                font-weight: normal;
                font-size:2rem;

                @include breakpoint(tablet) {
                    font-size:3rem;
                }
            }
        }
    }
    

}
