.shopify-policy__container {

    width: 89rem;
    margin: 0 auto;
    padding: 0 3rem;
    max-width:100%;

    h1 {
   
        font-family: var(--font-family-script);
        font-weight: normal;
        font-size:6rem;

        @include breakpoint(laptop) {
            font-size:7.5rem;
        }
        @include breakpoint(desktop) {
            font-size:10rem;
        }
    
    }

    h2 {
        font-family: var(--font-family-header-alt);
    color:var(--color-main);
    position:relative;
    font-size:45px;
    padding-bottom:1em;
    line-height:1.15em;

    @include breakpoint(tablet) {
        font-size:45px;
        padding-bottom:1em;
    }

    &::after {
        content:"";
        background:url('divider-notch-mobile.svg') center center no-repeat;
        display:block;
        position:absolute;
        bottom:0px;
        left:0px;
        height: 20px;
        width: 100%;
        z-index: 1;

        @include breakpoint(tablet) {
            background:url('divider-notch-desktop.svg') center center no-repeat;
        }

    }
    }
}