.shopify-policy__container {

    width: 89rem;
    margin: 0 auto;
    padding: 0 3rem;
    max-width:100%;

    h1 {
   
        font-family: var(--font-family-script);
        font-weight: normal;
        font-size:6rem;

        @include breakpoint(laptop) {
            font-size:7.5rem;
        }
        @include breakpoint(desktop) {
            font-size:10rem;
        }
    
    }

    h2 {
        font-family: var(--font-family-header-alt);
        color:var(--color-text);
        position:relative;
        font-size:2.6rem;
        padding-bottom:1rem;
        line-height:1.15em;
        letter-spacing: 0;
        margin-bottom: 1.2em;

        @include breakpoint(tablet) {
            font-size: 3.4rem;
            padding-bottom: 1rem;
            font-weight: normal;
        }

        &::after {
            content:"";
            height:.2rem;
            background:var(--color-accent);
            display:block;
            position:absolute;
            bottom:0px;
            left:0px;
            width: 100%;
            z-index: 1;
        }
    }

    h3 {
        font-family:var(--font-family-header-ex);
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing:.1rem;
        font-size:1.8rem;

        @include breakpoint(tablet) {
            font-size:2.2rem;

        }
    }

    h4 {
        font-family:var(--font-family-header-cn);
        color:var(--color-text);
        text-transform: uppercase;
        letter-spacing:.3rem;
        font-weight: normal;
        font-size:2rem;
        margin-bottom:.8em;

        @include breakpoint(tablet) {
            font-size:2.4rem;
        }
    }

    strong {
        font-family:var(--font-family-header-ex);
        font-weight:normal;
    }

    ul, ol {
        list-style-position: outside;
        list-style-type: square;
        padding-left:4em;

        li {
            margin-bottom:1em;
        }
    }
}