
/* --------------- Slick Slider-------------------- */
/* Slider */

.slider-full-width {
    margin:8rem 0px;

    @include breakpoint(laptop) {
        margin:11rem 0px;
    }
}
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 16px;
    line-height: 1.15em;
    text-align:center;

    position: absolute;
    top: 50%;

    display: block;

    width: 16px;
    height: 74px;
    padding: 0;
    transform: translate(0, -50%);

    cursor: pointer;

    border: none;
    outline: none;
    background: transparent;
}


.slick-prev
{
    left: 45px;
}
.slick-next
{
    right: 45px;
}
.full-width-slider .slick-prev {
    left:auto;
}
.full-width-slider .slick-next {
    right:auto;
    left:0px;
    top:auto;
    bottom:3rem;
    transform:translate(0% 0%);
    width:3.6rem;
    height:7.2rem;
    font-size:0px;
    display: block;
    background:url('triangle-notch-right.svg') center center no-repeat;
    background-size: cover;
}
/*-- Studio Gallery Slider ---- */

.full-width-slider {
    width:100vw;
    padding:0px;
    margin:0rem 0px 7rem 0px;

    @include breakpoint(laptop) {
        margin:0rem 0px 11rem 0px;
    }
}
.studio-gallery-slide {
    padding:0px 1.2rem;
}
.studio-gallery-slide img {
    height:50rem;
    width:auto;
    max-height:60vh;
    max-width:100%;

    @include breakpoint(laptop) {
        height:61rem;
    }
}

