// CSS Variables 

:root {
    --font-family-script: 'Buinton', cursive;
    --font-family-header-cn: 'FSIndustrieCondensedBold', sans-serif;
    --font-family-header-ex: 'FSIndustrieExtendedBlack', sans-serif;
    --font-family-header-alt: 'Editor', serif;
    --font-family-body: 'FSKimText', serif;
  
    --color-text:#121212;
    --color-main:#004356;
    --color-accent:#C15232;
    --color-grey:#d5d5d5;
    --color-light-grey:#ededed;
    --color-dark-grey:#6D6D6D;
    --color-white:#ffffff;
    --color-black:#121212;
  
  }