@import "mixins";

.accordion summary {
    display: flex;
    position: relative;
    line-height: 1;
    padding: 1.5rem 0;
  }
  
  .accordion .summary__title {
    display: flex;
    flex: 1;
  }
  
  .accordion .summary__title + .icon-caret {
    position: absolute;
    height: 0.6rem;
    right: 1.5rem;
    top: calc(50% - 0.2rem);

    height: calc(var(--font-heading-scale) * 0.6rem);
  }
  
  .accordion + .accordion {
    margin-top: 0;
    border-top: none;
  }
  
  .accordion {
    margin-top: 2.5rem;
    margin-bottom: 0;
    border-top: 0.1rem solid var(--color-grey);
    border-bottom: 0.11rem solid var(--color-grey);

    &:last-child {
        border-bottom:0;
    }

    &:first-child {
        border-top:0;
    }

    .section-product-faq & {

        border-top: 0.15rem solid var(--color-accent);
        border-bottom: 0;

        &:first-child {
            border-top:0;
        }
    }
  }
  
  .accordion__title {
    display: inline-block;
    max-width: calc(100% - 6rem);
    min-height: 1.6rem;
    margin: 0;
    word-break: break-word;
    font-family:var(--font-family-body);
    font-size:1.5rem;
    font-weight: bold;
    color:var(--color-text);
    

    .section-product-faq & {
        font-family:var(--font-family-header-ex);
        font-size:1.8rem;
        text-transform: uppercase;
        color:var(--color-main);

        @include breakpoint(tablet) {
            font-size:2.25rem;
        }
    }
  }
  
  .accordion .icon-accordion {
    align-self: center;
    fill: rgb(var(--color-foreground));
    height: calc(var(--font-heading-scale) * 2rem);
    margin-right: calc(var(--font-heading-scale) * 1rem);
    width: calc(var(--font-heading-scale) * 2rem);
  }
  
  .accordion details[open] > summary .icon-caret {
    transform: rotate(180deg);
  }
  

  .accordion .summary__title + .icon-close {
    height: 1.3rem;

    position: absolute;
    right: 0;
    top: calc(50% - .65rem);
    transform: rotate(45deg);

    path {
        transition: all .3s ease 0s;
        fill: var(--color-accent);
    }

    .section-product-faq & {
        height:1.5rem;
        transform: rotate(45deg);
        transition: all .3s ease 0s;

        path {
            fill: var(--color-main);
        }
    }


  }

  .accordion details[open] > summary .icon-close {
    transform: rotate(0deg);
    path {
        fill: var(--color-main);
    }
    

    .section-product-faq & {
        transform: rotate(0deg);
        path {
            fill: var(--color-accent);
        }
    }
  }

  .accordion__content {
    margin-bottom: 3rem;
    word-break: break-word;
    overflow-x: auto;
  }
  
  .accordion__content img {
    max-width: 100%;
  }

  // ------ jQuery Slick Slider Toggle Item (Accordion) ---- //

 toggle-element {
    width:100%;
    display:flex;
    flex-wrap:wrap;
    margin: 0;
    padding: 0;
    text-align: left;

    @include breakpoint(tablet) {
        margin:5.2rem 0 0 0;
    }

    .product__info-container & {
      margin:0;
    }
    .section-product-faq & {
      margin:0;
    }

    &:last-of-type {

      toggle-item {
        border:0 !important;
      }

    }

    toggle-item {
        display:flex;
        flex-direction: column;
        margin:0;
        width:100%;
        padding:1.2rem 0 1rem 0;

        border-bottom: 0.1rem solid #707070;

        @include breakpoint(tablet) {
            padding:1.6rem 0 1.2rem 0;
        }

        .section-faq & {
          border-bottom:.15rem solid var(--color-accent);
        }


        h2 {
            cursor:pointer;
            display:flex;
            justify-content:space-between;
            align-items:center;
            width: 100%;
            position: relative;
            margin:0;

            font-family:var(--font-family-header-cn);
            font-size:3rem;
            font-weight: normal;
            letter-spacing:.2rem;
            text-transform: uppercase;
            color:var(--color-main);

            @include breakpoint(tablet) {
                font-size:3rem;
            }

            product-info & {
              display: inline-block;
              min-height: 1.6rem;
              margin: 0;
              word-break: break-word;
              font-family:var(--font-family-body);
              font-size:1.6rem;
              font-weight: bold;
              color:var(--color-text);
              text-transform: none;
              letter-spacing:0rem;

              @include breakpoint(laptop) {
                font-size:1.8rem;
              }
            }

            .section-product-faq & {
                font-family:var(--font-family-header-ex);
                font-size:1.8rem;
                text-transform: uppercase;
                color:var(--color-main);
        
                @include breakpoint(tablet) {
                    font-size:2.25rem;
                }
            }

            .icon-close {
                display:inline-block;
                cursor:pointer;
                order:2;

                height: 1.3rem;

                position: absolute;
                right: 0;
                top: calc(50% - .65rem);
                transform: rotate(45deg);
                transition:all .3s ease 0s;
            
                path {
                    transition: all .3s ease 0s;
                    fill: var(--color-accent);
                }

                .section-product-faq & {
                  transform: rotate(45deg);
                  height:1.5rem;
                  path {
                      fill: var(--color-main);
                  }
              }
            }
        }

        &.active {
            h2 {
                .icon-close {
                    transform: rotate(0deg);
                    path {
                        fill: var(--color-main);
                    }

                    .section-product-faq & {
                      transform: rotate(0deg);
                      path {
                          fill: var(--color-accent);
                      }
                  }
                }
            }
        }
        h3 {
            font-size:16px;
            letter-spacing:.75px;
            text-transform:uppercase;
            margin-bottom:34px;
        }

        .info {
            overflow: hidden;
            margin: 0;
            padding: 0;
            height: 0px;
            
            :first-child {
              margin-top:0;
            }

            .content {
                margin: 0;
                padding-bottom: .1rem;
                padding-top:2rem;
            }

            p {
                margin:0 0 2rem 0;

                &:last-child {
                    margin:0;
                }
            }
        }
    }
}
  