/*-----------------------
EASING 
---------------------- */
.breadcrumbs {
  font-size: 1.6rem;
  margin: 0;
}
@media (min-width: 768px) {
  .breadcrumbs {
    font-size: 1.8rem;
  }
}

.breadcrumbs ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs li {
  display: inline-block;
}

.breadcrumbs a {
  text-decoration: none;
  color: var(--color-black);
  font-style: italic;
  letter-spacing: 0;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs li:not(:last-child):after {
  content: "/";
  display: inline-block;
  speak: none;
}

.breadcrumbs [aria-current=page] {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
}

.breadcrumbs [aria-current=page]:hover,
.breadcrumbs [aria-current=page]:focus {
  text-decoration: underline;
}