@import "mixins";

.product-sticky-add-cart-new.custom-sticky-form {
    position: fixed;
    display:flex;
    justify-content:space-between;
    align-items:center;
    bottom: 0;
    left:0;
    z-index: 9999;
    width: 100%;
    background: #f4f4f4;
    transform: translateY(100%);
    transition: .4s ease-in-out;
    padding:2rem;

    

    .sticky-buy {
        display:inline-flex;
        align-items:center;
        gap:1rem;

        button.product-form__submit {
            font-size:1.4rem;
            letter-spacing:.2rem;
            margin:0;
        }
    }

    ul.sticky-product-menu {
        display:none;
        margin:0;
        padding:0;
        gap:1rem;

        @include breakpoint(tablet) {
            display:inline-flex;
            list-style: none;
        }

        li {

            margin:0;
            padding:0;

            a {
                color:var(--color-dark-grey);
                text-decoration: none;
                font-size:1.5rem;
                font-weight: normal;
                font-style: italic;

                &:hover {
                    color:var(--color-main);
                }
            }
        }
    }
}
.sticky-cart2 .custom-sticky-form {
    transform:translateY(0) !important;
}