@import "mixins";

.product-sticky-add-cart-new.custom-sticky-form {
    position: fixed;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    bottom: 0;
    left:0;
    z-index: 9999;
    width: 100%;
    background: var(--color-light-grey);
    transform: translateY(100%);
    transition: .4s ease-in-out;
    padding:2rem;

    button.product-form__submit {
        font-size:1.4rem;
        letter-spacing:.2rem;
    }
}
.sticky-cart2 .custom-sticky-form {
    transform:translateY(0) !important;
}