/*-----------------------
EASING 
---------------------- */
.sticky-cart-custom-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-light-grey);
}

.product-sticky-add-cart-new.custom-sticky-form {
  position: fixed;
  padding: 15px 0;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  transform: translateY(1000px);
  transition: 0.4s ease-in-out;
}

.sticky-cart2 .custom-sticky-form {
  transform: translateY(0) !important;
}