@import "mixins";


  // ----- Icon Rows- ------ //

  .product-top-icons {
    .icon-row {
      display:flex;
      flex-wrap:wrap;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      width:100%;
      max-width: 100%;
      margin:3em auto 3em auto;

      .icon-item {
        width:28%;
        display:flex;
        align-items:center;
        align-content:center;
        justify-content: center;

        &[data-num="1"] {
          img {
            width:70px;
            @include breakpoint(tablet) {
              width:76px;
            }
          }          
        }
        &[data-num="2"] {
          img {
            width:56px;
            @include breakpoint(tablet) {
              width:55px;
            }
          }
        }
        &[data-num="3"] {
          img {
            width:58px;
            @include breakpoint(tablet) {
              width:58px;
            }
          }
        }

        
      }
      .dots-divider {
        display: block;
        width:3.5px;
        height:67.5px;
        background:url('divider-vert-red-dots.svg') center center no-repeat;
        background-size:auto 100%;

        @include breakpoint(tablet) {
          width:5px;
          height: 82px;
        }
      }
    }
  }