/*-----------------------
EASING 
---------------------- */
@font-face {
  font-family: "Buinton";
  src: url("ft-Buinton.woff2") format("woff2"), url("ft-Buinton.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Editor";
  src: url("ft-Editor-Bold.woff") format("woff"), url("ft-Editor-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FSIndustrieCondensedBold";
  src: url("ft-FSIndustrieCondensedBold.woff2") format("woff2"), url("ft-FSIndustrieCondensedBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FSIndustrieExtendedBlack";
  src: url("ft-FSIndustrieExtendedBlack.woff2") format("woff2"), url("ft-FSIndustrieExtendedBlack.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FSKimText";
  src: url("ft-FSKimTextItalic.woff2") format("woff2"), url("ft-FSKimTextItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "FSKimText";
  src: url("ft-FSKimTextRegular.woff2") format("woff2"), url("ft-FSKimTextRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.section-newsletter .newsletter {
  padding: 0px 3.4rem;
}
@media (min-width: 1280px) {
  .section-newsletter .newsletter {
    padding: 0px 0px;
  }
}

.newsletter__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 1086px;
  max-width: 100%;
  margin: 0px auto;
  padding: 46px 0px;
}
@media (min-width: 768px) {
  .newsletter__wrapper {
    padding: 75px 0px 86px 0px;
    align-items: stretch;
    align-content: stretch;
  }
}
.newsletter__wrapper .newsletter-left {
  width: 100%;
}
@media (min-width: 1024px) {
  .newsletter__wrapper .newsletter-left {
    width: 37%;
  }
}
.newsletter__wrapper .newsletter-right {
  width: 100%;
}
@media (min-width: 1024px) {
  .newsletter__wrapper .newsletter-right {
    width: 56.85%;
  }
}

.newsletter-left h2 {
  font-family: var(--font-family-header-cn);
}

.nl-hero {
  width: 100%;
  aspect-ratio: 639/261;
}
@media (min-width: 768px) {
  .nl-hero {
    height: 100%;
  }
}

.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: 3rem;
}

.newsletter__subheading {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 36rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}