// ------ Include Partials ------- //
@import "mixins";
@import "fonts";


.newsletter__wrapper {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: flex-start;
  width:1086px;
  max-width:100%;
  margin:0px auto;


  padding:46px 0px;

  @include breakpoint(tablet) {
    padding:75px 0px 86px 0px;
    align-items:stretch;
    align-content:stretch;
  }


  .newsletter-left {
    width:100%;

    @include breakpoint(tabletwide) {
      width:33%;
    }
  }
  .newsletter-right {
    width:100%;

    @include breakpoint(tablet) {
      height:100%;
    }
    @include breakpoint(tabletwide) {
      width:56.85%;
    }
  }
}

.newsletter-left {

  h2 {
    font-family:var(--font-family-header-cn);
  }
}

.nl-hero {
  width:100%;
  aspect-ratio: 639 / 261;
}


.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}


.newsletter__wrapper > * + .newsletter-form {
  margin-top: 3rem;
}

.newsletter__subheading {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 36rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}
