/*-----------------------
EASING 
---------------------- */
@font-face {
  font-family: "Buinton";
  src: url("ft-Buinton.woff2") format("woff2"), url("ft-Buinton.woff") format("woff");
}
@font-face {
  font-family: "Editor Bold";
  src: url("ft-Editor-Bold.woff") format("woff"), url("ft-Editor-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FSIndustrieCondensedBold";
  src: url("ft-FSIndustrieCondensedBold.woff2") format("woff2"), url("ft-FSIndustrieCondensedBold.woff") format("woff");
}
@font-face {
  font-family: "FSIndustrieExtendedBlack";
  src: url("ft-FSIndustrieExtendedBlack.woff2") format("woff2"), url("ft-FSIndustrieExtendedBlack.woff") format("woff");
}
@font-face {
  font-family: "FSKimText";
  src: url("ft-FSKimTextItalic.woff2") format("woff2"), url("ft-FSKimTextItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "FSKimText";
  src: url("ft-FSKimTextRegular.woff2") format("woff2"), url("ft-FSKimTextRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.newsletter__wrapper {
  padding-right: calc(4rem / var(--font-body-scale));
  padding-left: calc(4rem / var(--font-body-scale));
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.newsletter__wrapper s .newsletter-left {
  width: 100%;
}
@media (min-width: 1024px) {
  .newsletter__wrapper s .newsletter-left {
    width: 33%;
  }
}
.newsletter__wrapper .newsletter-right {
  width: 100%;
}
@media (min-width: 1024px) {
  .newsletter__wrapper .newsletter-right {
    width: 56.85%;
  }
}

.nl-hero {
  width: 100%;
  aspect-ratio: 639/261;
}

@media screen and (min-width: 750px) {
  .newsletter__wrapper {
    padding-right: 9rem;
    padding-left: 9rem;
  }
}
.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + * {
  margin-top: 2rem;
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: 3rem;
}

.newsletter__subheading {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 36rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}