@import "mixins";

.product--sticky-form {
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 2;

    position: fixed;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index: 9999;
    background: #f4f4f4;
    transform: translateY(100%);
    transition: .4s ease-in-out;
    padding:2rem;


    &.product--sticky-form__inactive {
        visibility: hidden;
        opacity:0;
        transform: translateY(100%);
      }

    &.product--sticky-form__active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0%);
    }

    product-form {
        width:100%;

        @include breakpoint(tablet) {
            width: 50%;
        }
    }

    ul.sticky-product-menu {
        display:none;
        margin:0;
        padding:0;
        gap:3rem;

        @include breakpoint(tablet) {
            display:inline-flex;
            list-style: none;
        }

        li {

            margin:0;
            padding:0;

            a {
                color:var(--color-dark-grey);
                text-decoration: none;
                font-size:1.5rem;
                font-weight: normal;
                font-style: italic;

                &:hover {
                    color:var(--color-main);
                }
            }
        }
    }

    .quantity {
        width:6rem;

        .quantity__button {
            width:30%;

            svg {
                width:.8rem;
            }
        }

        @include breakpoint(tablet) {
            width: 8rem;

            .quantity__button {
                width:38%;
    
                svg {
                    width:1rem;
                }
            }
        }
    }

    form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        column-gap: 1.8rem;
        width:auto;

        @include breakpoint(tablet) {
            justify-content:flex-end;
        }
        
      }

      .product--sticky-form-info {
        font-size: clamp(0.75rem, 2vw, calc(var(--font-heading-scale) * 4rem));
        line-height: 1;
        text-align: right;

        .h2 {
            display: none;
        }

        @include breakpoint(tablet) {
            padding-right: 10px;
        }
      }

      .product-form__buttons {
        max-width:15.4rem;
        width:15.4rem;

        @include breakpoint(tablet) {
            max-width:19.6rem;
            width:19.6rem;
        }

        button.product-form__submit {
            font-size:1.4rem;
            letter-spacing:.1rem;
            margin:0;

            padding:1.2rem 1rem 1rem 1rem;

            @include breakpoint(tablet) {
                padding:1.2rem 2rem 1rem 2rem;
            }
        }

        
      }

      .price {
            font-size:2.4rem;
            margin-top: -5px;

            @include breakpoint(tablet) {
                font-size:2.4rem;
            }
            @include breakpoint(desktopwide) {
                font-size:3.2rem;
            }
        }

        .product--sticky-form__variants {
            //display: none;
            height:4rem;
            @include breakpoint(tablet) {
                display:block;
                height:4.7rem;
            }

            variant-selects {
                display:inline-flex;
                align-items:center;
                align-content:center;
                height:100%;

                fieldset {
                    width: auto;
                    margin:0;
                }
                .product-form__input--dropdown {
                    margin:0;
                }

            }
            
        }

        .product--sticky-form__quantity {
            height:4rem;
            @include breakpoint(tablet) {            
                display:block;
                height:4.7rem;
            }
        }

  }
  // End .product--sticky-form 
  
  
  
  
  

  
  
  
  .quick-add-modal .product--sticky-form {
    display: none;
  }
