/*-----------------------
EASING 
---------------------- */
ul.menu-collections {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  ul.menu-collections {
    gap: 6rem;
    justify-content: center;
    margin: 4rem 0rem;
  }
}
@media (min-width: 1680px) {
  ul.menu-collections {
    gap: 9rem;
    justify-content: center;
    margin: 6rem 0rem;
  }
}
ul.menu-collections li {
  font-family: var(--font-family-header-ex);
  list-style: none;
  margin: 0px;
  padding: 0px;
}
ul.menu-collections li a {
  text-transform: uppercase;
  font-weight: normal;
  position: relative;
  text-decoration: none;
  letter-spacing: 0px;
  font-size: 1.4rem;
  color: var(--color-main);
  transition: color 0.25s ease 0s;
  min-width: 124px;
  text-align: center;
}
ul.menu-collections li a:hover {
  color: var(--color-accent);
}
@media (min-width: 768px) {
  ul.menu-collections li a {
    font-size: 2.4rem;
  }
}
@media (min-width: 1680px) {
  ul.menu-collections li a {
    font-size: 3rem;
  }
}
ul.menu-collections li a.list-menu__item--active span {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center;
  width: 0%;
  height: 6px;
  background: url("menu-highlight-notch.svg") center no-repeat;
  background-size: auto 100%;
  animation: menuActive 1.5s cubic-bezier(0.25, 0, 0.15, 1) 0.25s 1 normal forwards;
}

@keyframes menuActive {
  0% {
    width: 0%;
    transform-origin: center;
  }
  100% {
    width: 100%;
    transform-origin: center;
  }
}