/*-----------------------
EASING 
---------------------- */
.section-product-details {
  padding: 5rem 0;
}
@media (min-width: 768px) {
  .section-product-details {
    padding: 12.2rem 0;
  }
}
.section-product-details .product-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 133.5rem;
  padding: 0 3rem;
  max-width: 100%;
  margin: 0px auto;
}
.section-product-details .product-details .product-details-image {
  order: 2;
  width: 100%;
}
@media (min-width: 768px) {
  .section-product-details .product-details .product-details-image {
    width: 51%;
    order: 1;
  }
}
.section-product-details .product-details .product-details-content {
  order: 1;
  width: 100%;
}
@media (min-width: 768px) {
  .section-product-details .product-details .product-details-content {
    width: 35%;
    order: 2;
  }
}
.section-product-details .product-details h2 {
  font-family: var(--font-family-header-cn);
  font-weight: normal;
  text-transform: uppercase;
  font-size: 3.3rem;
  text-align: center;
  margin: 0 0 3rem 0;
}
@media (min-width: 768px) {
  .section-product-details .product-details h2 {
    font-size: 4.5rem;
    text-align: left;
  }
}
.section-product-details .product-details .product-main-details {
  display: block;
  padding: 1.5rem 0;
  border-style: dotted;
  border-width: 0.6rem 0 0.6rem 0;
  border-color: var(--color-accent);
  border-image-source: url("border-dot-red.svg?v=1");
  border-image-slice: 24% 24% 24% 24%;
  border-image-repeat: round;
}
.section-product-details .product-details .product-main-details p strong {
  font-family: var(--font-family-header-ex);
}