// ------ Include Partials ------- //
@import "mixins";
@import "fonts";

.section-home-banner {
    min-height:80vh;
    padding:10vh 0vh;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    color:var(--color-white);
    
    h1, h2 {
        color:var(--color-white);
    }

    h1 {
        p {
            margin:0px;
            font-size:28px;
            letter-spacing:0px;
            color:var(--color-white);

            @include breakpoint(tablet) {
                font-size:36px;

            }
        }
    }

    p {
        font-size:16.5px;
        color:#D5D5D5;
    }

    .section-content {
        width:416px;
        max-width:100%;
    }

    .home-hero-products {
        position:absolute;
        z-index:1;
        right:0px;
        bottom:0px;
        width:130vw;
        transform:translate(15%, 0%);

        @include breakpoint(laptop) {
            bottom:auto;
            top:0px;
            right:0px;
            transform:translate(15%, 30%);
        }

    }

}