@import "mixins";

.section-product-faq {

    padding:6rem 0;

    @include breakpoint(tablet) {
        padding:9rem 0;
    }

    @include breakpoint(tablet) {
        padding:14rem 0;
    }

    .faq-wrap {
        display:block;
        width:81.7rem;
        max-width:100%;
        margin:0px auto;

        h2 {
            text-align:center;
        }
    }
}