/*-----------------------
EASING 
---------------------- */
.section-product-faq {
  padding: 6rem 0;
}
@media (min-width: 768px) {
  .section-product-faq {
    padding: 9rem 0;
  }
}
@media (min-width: 768px) {
  .section-product-faq {
    padding: 14rem 0;
  }
}
.section-product-faq .faq-wrap {
  display: block;
  width: 81.7rem;
  max-width: 100%;
  margin: 0px auto;
  padding: 0 3rem;
}
.section-product-faq .faq-wrap h2 {
  text-align: center;
  margin: 0;
}
toggle-item .section-product-faq .faq-wrap h2 {
  text-align: left;
  padding-right: 4rem;
}