/*-----------------------
EASING 
---------------------- */
.section-our-method .our-method {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  max-width: 100%;
  margin: 0px auto;
  padding: 4rem 0;
}
@media (min-width: 768px) {
  .section-our-method .our-method {
    padding: 8rem 0;
  }
}
@media (min-width: 1280px) {
  .section-our-method .our-method {
    padding: 19rem 0;
  }
}
.section-our-method .our-method .our-method-content {
  width: 100%;
  padding: 8rem 5rem;
}
@media (min-width: 768px) {
  .section-our-method .our-method .our-method-content {
    width: 50%;
    padding: 8rem 5rem;
  }
}
.section-our-method ul.om-slides {
  overflow: hidden;
  display: block;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}
@media (min-width: 768px) {
  .section-our-method ul.om-slides {
    width: 50%;
  }
}
.section-our-method ul.om-slides li {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.section-our-method ul.om-slides li.current {
  opacity: 1 !important;
  transform: scale(1) !important;
}
.section-our-method ul.method-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.section-our-method ul.method-list li.staff {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  padding: 1.2rem 0;
  border-bottom: 0.15rem solid var(--color-grey);
}
@media (min-width: 768px) {
  .section-our-method ul.method-list li.staff {
    padding: 2rem 0;
  }
}
.section-our-method ul.method-list li.staff:last-child {
  border-bottom: 0;
}
.section-our-method ul.method-list li.staff:first-child {
  border-top: 0;
}
.section-our-method ul.method-list li.staff h2 {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  font-family: var(--font-family-header-cn);
  font-size: 3rem;
  font-weight: normal;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: var(--color-main);
}
@media (min-width: 768px) {
  .section-our-method ul.method-list li.staff h2 {
    font-size: 3rem;
  }
}
.section-our-method ul.method-list li.staff h2 .icon-close {
  display: inline-block;
  cursor: pointer;
  order: 2;
  height: 1.3rem;
  position: absolute;
  right: 0;
  top: calc(50% - 0.65rem);
  transform: rotate(45deg);
}
.section-our-method ul.method-list li.staff h2 .icon-close path {
  transition: all 0.3s ease 0s;
  fill: var(--color-accent);
}
.section-our-method ul.method-list li.staff.active h2 .icon-close {
  transform: rotate(0deg);
}
.section-our-method ul.method-list li.staff.active h2 .icon-close path {
  fill: var(--color-main);
}
.section-our-method ul.method-list li.staff h3 {
  font-size: 16px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  margin-bottom: 34px;
}
.section-our-method ul.method-list li.staff .info {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 0px;
}
.section-our-method ul.method-list li.staff .info .content {
  margin: 0;
  padding-bottom: 0.1rem;
}
.section-our-method ul.method-list li.staff .info p {
  margin: 0 0 2rem 0;
}
.section-our-method ul.method-list li.staff .info p:last-child {
  margin: 0;
}