// ------ Include Partials ------- //
@import "mixins";
@import "fonts";

.section-home-banner {
    min-height:80vh;
    padding:10vh 0vh;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    color:var(--color-white);
    
    h1, h2 {
        color:var(--color-white);
    }

    h1 {
        p {
            margin:0px;
            font-size:28px;
            letter-spacing:0px;
            color:var(--color-white);
            line-height:1.2em;

            @include breakpoint(tablet) {
                font-size:3.6rem;
            }
            @include breakpoint(laptop) {
                font-size:4.8rem;
            }
        }
    }

    .subhead {
        margin-bottom:3em;
    }
    
    p {
        font-size:1.6rem;
        color:#D5D5D5;
        
        @include breakpoint(desktop) {
            font-size:2.2rem;
        }
    }

    .section-content {
        width:42rem;
        max-width:100%;

        @include breakpoint(laptop) {
            width:42rem;
        }
        @include breakpoint(desktop) {
            width:54rem;
        }
    }
    

    .inner {
        z-index:2;
    }

    .home-hero-products {
        position:absolute;
        z-index:1;
        right:0px;
        bottom:0px;
        width:130vw;
        transform:translate(15%, 30%);

        @include breakpoint(laptop) {
            bottom:auto;
            top:0px;
            right:0px;
            transform:translate(15%, 1%);
        }

    }

}