@import "mixins";

// Additional Products Section

.section-additional-products {

    padding:4.5rem 0;

    @include breakpoint(tablet) {
        padding:9rem 0;
    }

}

.additional-product-cards {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    width:133.5rem;
    max-width: 100%;
    margin:0 auto;
    

}