/*-----------------------
EASING 
---------------------- */
ul.menu-collections {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  ul.menu-collections {
    gap: 9rem;
    justify-content: center;
  }
}
ul.menu-collections li {
  font-family: var(--font-family-header-ex);
  font-size: 1.4rem;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
@media (min-width: 768px) {
  ul.menu-collections li {
    font-size: 3rem;
  }
}
ul.menu-collections li a {
  text-transform: uppercase;
  font-weight: normal;
  position: relative;
  text-decoration: none;
  letter-spacing: none;
}