/*-----------------------
EASING 
---------------------- */
.page-contact-container {
  width: 136.4rem;
  max-width: 100%;
  padding: 5.6rem 2.5rem;
  margin: 0px auto;
}
@media (min-width: 768px) {
  .page-contact-container {
    padding: 7rem 2.5rem;
  }
}
@media (min-width: 1280px) {
  .page-contact-container {
    padding: 8.6rem 2.5rem;
  }
}
.page-contact-container .contact {
  width: 108.9rem;
  max-width: 100%;
}

.contact img {
  max-width: 100%;
}

.contact .contact-form-title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 3.3rem;
  margin: 0 0 3.3rem 0;
}
@media (min-width: 768px) {
  .contact .contact-form-title {
    font-size: 6rem;
    margin: 0 0 6rem 0;
  }
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}
.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}
@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}