@import "mixins";

.section-product-general-info {
    background:var(--color-grey);
    .general-info-inner {
        width:108.8rem;
        max-width:100%;
        margin:0px auto;
        display:flex;
    }
}