@import "mixins";

.page-title {
    margin-top: 0;
    
  }
  
  .main-page-title {
    margin-bottom: 3rem;
    font-family:var(--font-family-script);
    text-align:center;
    font-size:6rem;
    font-weight:normal;

    @include breakpoint(tablet) {
        font-size:8rem;
    }
    @include breakpoint(laptop) {
        font-size:10rem;
    }
  }
  
  @media screen and (min-width: 750px) {
    .main-page-title {
      margin-bottom: 4rem;
    }
  }
  
  .page-placeholder-wrapper {
    display: flex;
    justify-content: center;
  }
  
  .page-placeholder {
    width: 52.5rem;
    height: 52.5rem;
  }
  