@import "mixins";

// Additional Products Section

.additional-product-cards {
    display:flex;
    flex-wrap:wrap;

    .card {
        width:100%;

        @include breakpoint(tablet) {
            width:50%;
        }
    }
}