/*-----------------------
EASING 
---------------------- */
.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 3rem;
  font-family: var(--font-family-script);
  text-align: center;
  font-size: 6rem;
  font-weight: normal;
}
@media (min-width: 768px) {
  .main-page-title {
    font-size: 8rem;
  }
}
@media (min-width: 1280px) {
  .main-page-title {
    font-size: 10rem;
  }
}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
  }
}
.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}