/*-----------------------
EASING 
---------------------- */
.section-product-general-info {
  background: var(--color-light-grey);
}
.section-product-general-info .general-info-inner {
  width: 133.5rem;
  max-width: 100%;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 3rem;
}
.section-product-general-info .general-info-content {
  width: 100%;
  order: 2;
}