/*-----------------------
EASING 
---------------------- */
.section-product-faq .faq-wrap {
  display: block;
  width: 81.7rem;
  max-width: 100%;
  margin: 0px auto;
}
.section-product-faq .faq-wrap h2 {
  text-align: center;
}