/*-----------------------
EASING 
---------------------- */
.section-product-details {
  padding: 5rem 0;
}
@media (min-width: 768px) {
  .section-product-details {
    padding: 18.2rem 0;
  }
}
.section-product-details .product-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 1033.5rem;
  padding: 0 3rem;
  max-width: 100%;
  margin: 0px auto;
}
.section-product-details .product-details h2 {
  font-family: var(--font-family-script);
  font-weight: 400;
  font-size: 6rem;
  text-align: center;
}
@media (min-width: 768px) {
  .section-product-details .product-details h2 {
    font-size: 7.5rem;
    text-align: left;
  }
}