/*-----------------------
EASING 
---------------------- */
.section-product-general-info {
  padding: 3.3rem 0;
}
@media (min-width: 768px) {
  .section-product-general-info {
    padding: 3.6rem 0 10.1rem 0;
  }
}
.section-product-general-info .general-info-inner {
  width: 133.5rem;
  max-width: 100%;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 3rem;
  justify-content: space-between;
  align-items: center;
}
.section-product-general-info .general-info-content {
  width: 100%;
  order: 2;
}
@media (min-width: 768px) {
  .section-product-general-info .general-info-content {
    width: 33%;
    order: 1;
  }
}
.section-product-general-info .general-info-content h2 {
  font-size: 3.3rem;
  letter-spacing: 0.1rem;
  margin: 0;
}
@media (min-width: 768px) {
  .section-product-general-info .general-info-content h2 {
    font-size: 3.6rem;
  }
}
.section-product-general-info .general-info-content h3 {
  font-size: 2.2rem;
  margin: 0;
  color: var(--color-text);
}
@media (min-width: 768px) {
  .section-product-general-info .general-info-content h3 {
    font-size: 2.475rem;
  }
}
.section-product-general-info .general-info-content p:last-child {
  margin: 0;
}
.section-product-general-info .product-general-hero {
  width: 100%;
  height: auto;
  order: 1;
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .section-product-general-info .product-general-hero {
    width: 59%;
    order: 2;
    margin: 0;
  }
}