@import "mixins";

.section-product-details {

    padding:5rem 0;

    @include breakpoint(tablet) {
        padding:12.2rem 0;
    }
    .product-details {
        display:flex;
        flex-wrap:wrap;
        align-items: center;
        justify-content: space-between;
        width:133.5rem;
        padding:0 3rem;
        max-width:100%;
        margin:0px auto;

        .product-details-image {
            order:2;
            width:100%;

            @include breakpoint(tablet) {
                width:51%;
                order:1;
            }
        }

        .product-details-content {
            order:1;
            width: 100%;

            @include breakpoint(tablet) {
                width:35%;
                order:2;
            }
        }


        h2 {
            font-family: var(--font-family-script);
            font-weight: 400;
            font-size:6rem;
            text-align:center;
            margin:0 0 3rem 0;

            @include breakpoint(tablet) {
                font-size:7.5rem;
                text-align:left;
            }
        }

        .product-main-details {
            display:block;
            padding:1.5rem 0;
            border-style: dotted;
            border-width: .6rem 0 .6rem 0;
            border-color: var(--color-accent);
            border-image-source: url('border-dot-red.svg?v=1');
            border-image-slice: 24% 24% 24% 24%;
            border-image-repeat: round;
        }
    }
}