/* ------ Custom Styles for this theme -------- */
/*-----------------------
EASING 
---------------------- */
@font-face {
  font-family: "Buinton";
  src: url("ft-Buinton.woff2") format("woff2"), url("ft-Buinton.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Editor";
  src: url("ft-Editor-Bold.woff") format("woff"), url("ft-Editor-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FSIndustrieCondensedBold";
  src: url("ft-FSIndustrieCondensedBold.woff2") format("woff2"), url("ft-FSIndustrieCondensedBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FSIndustrieExtendedBlack";
  src: url("ft-FSIndustrieExtendedBlack.woff2") format("woff2"), url("ft-FSIndustrieExtendedBlack.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FSKimText";
  src: url("ft-FSKimTextItalic.woff2") format("woff2"), url("ft-FSKimTextItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "FSKimText";
  src: url("ft-FSKimTextRegular.woff2") format("woff2"), url("ft-FSKimTextRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* --------------- Slick Slider-------------------- */
/* Slider */
.slider-full-width {
  margin: 8rem 0px;
}
@media (min-width: 1280px) {
  .slider-full-width {
    margin: 11rem 0px 18rem 0px;
  }
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 16px;
  line-height: 1.15em;
  text-align: center;
  position: absolute;
  top: 50%;
  display: block;
  width: 16px;
  height: 74px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev {
  left: 45px;
}

.slick-next {
  right: 45px;
}

.full-width-slider .slick-prev {
  left: auto;
}

.full-width-slider .slick-next {
  right: auto;
  left: 0px;
  top: auto;
  bottom: 3rem;
  transform: translate(0% 0%);
  width: 3.6rem;
  height: 7.2rem;
  font-size: 0px;
  display: block;
  background: url("triangle-notch-right.svg") center center no-repeat;
  background-size: cover;
}

/*-- Studio Gallery Slider ---- */
.full-width-slider {
  width: 100vw;
  padding: 0px;
  margin: 0rem 0px 7rem 0px;
}
@media (min-width: 1280px) {
  .full-width-slider {
    margin: 0rem 0px 11rem 0px;
  }
}

.studio-gallery-slide {
  padding: 0px 1.2rem;
}

.studio-gallery-slide img {
  height: 50rem;
  width: auto;
  max-height: 60vh;
  max-width: 100%;
}
@media (min-width: 1280px) {
  .studio-gallery-slide img {
    height: 61rem;
  }
}

:root {
  --font-family-script: "Buinton", cursive;
  --font-family-header-cn: "FSIndustrieCondensedBold", sans-serif;
  --font-family-header-ex: "FSIndustrieExtendedBlack", sans-serif;
  --font-family-header-alt: "Editor", serif;
  --font-family-body: "FSKimText", serif;
  --color-text:#121212;
  --color-main:#004356;
  --color-accent:#C15232;
  --color-white:#ffffff;
}

.script {
  font-family: var(--font-family-script);
}

.header-cn {
  font-family: var(--font-family-header-cn);
}

.header-ex {
  font-family: var(--font-family-header-ex);
}

.header-alt {
  font-family: var(--font-family-header-alt);
  font-weight: normal;
}

body {
  font-family: var(--font-family-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
  overflow-x: clip;
}

p {
  font-size: 1.6rem;
}
@media (min-width: 1440px) {
  p {
    font-size: 2.2rem;
  }
}

.block-header-v1 {
  font-family: var(--font-family-header-alt);
  color: var(--color-main);
  position: relative;
  font-size: 45px;
  padding-bottom: 1em;
  line-height: 1.15em;
}
@media (min-width: 768px) {
  .block-header-v1 {
    font-size: 45px;
    padding-bottom: 1em;
  }
}
.block-header-v1::after {
  content: "";
  background: url("divider-notch-mobile.svg") center center no-repeat;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 20px;
  width: 100%;
  z-index: 1;
}
@media (min-width: 768px) {
  .block-header-v1::after {
    background: url("divider-notch-desktop.svg") center center no-repeat;
  }
}

.block-header-v2 {
  font-family: var(--font-family-header-cn);
  color: var(--color-accent);
  font-size: 3rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .block-header-v2 {
    font-size: 4.5rem;
  }
}
@media (min-width: 768px) {
  .block-header-v2 {
    font-size: 6rem;
  }
}

.bg-chevron-white {
  background: #F2F2F2 url("bg-chevron-white.svg") center center repeat;
  background-size: 23374.6px 1740.6px;
}

.bg-chevron-blue {
  background: #004356 url("bg-chevron-blue.svg") center center repeat;
  background-size: 23374.6px 1740.6px;
}

.insta-feed-title {
  text-align: center;
  font-family: var(--font-family-header-cn);
  margin: 2em 0px 0.5em 0px;
  position: relative;
  color: var(--color-main);
}
.insta-feed-title a {
  color: var(--color-main);
  text-decoration: none;
  position: relative;
  display: inline-flex;
  text-transform: uppercase;
  font-size: 33px;
  align-items: center;
  letter-spacing: 0.1em;
}
.insta-feed-title a::before {
  content: "";
  display: inline-flex;
  width: 2.9rem;
  height: 2.9rem;
  margin-right: 0.5em;
  background: url("icon-instagram.svg") center center no-repeat;
  background-size: cover;
  margin-top: -0.1em;
}
@media (min-width: 768px) {
  .insta-feed-title a {
    font-size: 4.5rem;
  }
  .insta-feed-title a::before {
    width: 4.3rem;
    height: 4.3rem;
  }
}
@media (min-width: 1440px) {
  .insta-feed-title a {
    font-size: 6rem;
  }
  .insta-feed-title a::before {
    width: 5.6rem;
    height: 5.6rem;
  }
}

section h2.jdgm-carousel-title, section h2.jdgm-rev-widg__title {
  font-family: var(--font-family-script);
  font-weight: normal;
  font-size: 6rem;
}
@media (min-width: 1280px) {
  section h2.jdgm-carousel-title, section h2.jdgm-rev-widg__title {
    font-size: 7.5rem;
  }
}
@media (min-width: 1440px) {
  section h2.jdgm-carousel-title, section h2.jdgm-rev-widg__title {
    font-size: 10rem;
  }
}
section .jdgm-carousel__item-container {
  height: auto !important;
}
section .jdgm-carousel-wrapper {
  width: 100%;
}
section .jdgm-carousel-wrapper .jdgm-carousel__item-wrapper {
  height: auto;
}
section .jdgm-carousel-wrapper .jdgm-all-reviews-rating-wrapper {
  display: none !important;
}
section .jdgm-carousel-item {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
section .jdgm-carousel-item > * {
  width: 100%;
}
section .jdgm-carousel-item .jdgm-carousel-item__review {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
section .jdgm-carousel-item .jdgm-carousel-item__review > * {
  width: 100%;
}
section .jdgm-carousel-item .jdgm-carousel-item__review .jdgm-carousel-item__review-content {
  order: 1;
}
section .jdgm-carousel-item .jdgm-carousel-item__review .jdgm-carousel-item__review-content .jdgm-carousel-item__review-body {
  -webkit-line-clamp: 4 !important;
}
section .jdgm-carousel-item .jdgm-carousel-item__review .jdgm-carousel-item__review-content .jdgm-carousel-item__review-body p {
  font-size: 1.24rem;
}
@media (min-width: 1280px) {
  section .jdgm-carousel-item .jdgm-carousel-item__review .jdgm-carousel-item__review-content .jdgm-carousel-item__review-body p {
    font-size: 1.6rem;
  }
}
@media (min-width: 1440px) {
  section .jdgm-carousel-item .jdgm-carousel-item__review .jdgm-carousel-item__review-content .jdgm-carousel-item__review-body p {
    font-size: 1.8rem;
  }
}
section .jdgm-carousel-item .jdgm-carousel-item__review .jdgm-carousel-item__review-content .jdgm-carousel-item__review-title {
  color: var(--color-main);
  font-size: 1.5rem;
  line-height: 1.1em;
  font-family: var(--font-family-header-ex);
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-weight: normal;
  margin-bottom: 1em;
}
@media (min-width: 1440px) {
  section .jdgm-carousel-item .jdgm-carousel-item__review .jdgm-carousel-item__review-content .jdgm-carousel-item__review-title {
    font-size: 2.1rem;
  }
}
section .jdgm-carousel-item .jdgm-carousel-item__review .jdgm-carousel-item__review-rating {
  order: 2;
  font-size: 90%;
  margin-top: 12px;
}
section .jdgm-carousel-item .jdgm-carousel-item__reviewer-name {
  font-family: var(--font-family-script);
  font-weight: normal;
  font-size: 2.7rem;
  color: var(--color-main);
  opacity: 1;
  margin-top: 24px;
}
@media (min-width: 1440px) {
  section .jdgm-carousel-item .jdgm-carousel-item__reviewer-name {
    font-size: 3.6rem;
  }
}