/* ------ Custom Styles for this theme -------- */

// ------ Include Partials ------- //
@import "mixins";
@import "fonts";



// CSS Variables 

:root {
  --font-family-script: 'Buinton', cursive;
  --font-family-header-cn: 'FSIndustrieCondensedBold', sans-serif;
  --font-family-header-ex: 'FSIndustrieExtendedBlack', sans-serif;
  --font-family-header-alt: 'Editor', serif;
  --font-family-body: 'FSKimText', serif;
  --color-text:#121212;
  --color-main:#004356;
  --color-accent:#C15232;
  --color-white:#ffffff;

}

// General Font Styles //

.script {
    font-family: var(--font-family-script);
}
.header-cn {
    font-family: var(--font-family-header-cn);
}
.header-ex {
    font-family: var(--font-family-header-ex);
}
.header-alt {
    font-family: var(--font-family-header-alt);
    font-weight:normal;
}

//------ Layout/Setup --------- //

body {
    font-family: var(--font-family-body);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: var(--color-text);

    overflow-x: clip;

}

// ----- General Styles ----- //

p {
    font-size:1.6rem;

    @include breakpoint(desktop) {
        font-size:2.2rem;
    }
}
// ---- Misc. Headlines --- //

.block-header-v1 {
    font-family: var(--font-family-header-alt);
    color:var(--color-main);
    position:relative;
    font-size:45px;
    padding-bottom:1em;
    line-height:1.15em;

    @include breakpoint(tablet) {
        font-size:45px;
        padding-bottom:1em;
    }

    &::after {
        content:"";
        background:url('divider-notch-mobile.svg') center center no-repeat;
        display:block;
        position:absolute;
        bottom:0px;
        left:0px;
        height: 20px;
        width: 100%;
        z-index: 1;

        @include breakpoint(tablet) {
            background:url('divider-notch-desktop.svg') center center no-repeat;
        }

    }
}
.block-header-v2 {
    font-family: var(--font-family-header-cn);
    color:var(--color-accent);
    font-size:3rem;
    letter-spacing:.1em;
    text-transform: uppercase;

    @include breakpoint(tablet) {
        font-size:4.5rem;
    }
    @include breakpoint(tablet) {
        font-size:6rem;
    }
}

// ---- General/Misc Items ------ //

.bg-chevron-white {
    background:#F2F2F2 url('bg-chevron-white.svg') center center repeat;
    background-size:23374.6px 1740.6px;
}
.bg-chevron-blue {
    background:#004356 url('bg-chevron-blue.svg') center center repeat;
    background-size:23374.6px 1740.6px;
}

.insta-feed-title {
    text-align:center;
    font-family:var(--font-family-header-cn);
    margin:2em 0px .5em 0px;
    position:relative;
    color:var(--color-main);

    a {
        color:var(--color-main);
        text-decoration: none;
        position: relative;
        display:inline-flex;
        text-transform:uppercase;
        font-size:33px;
        align-items: center;
        letter-spacing: .1em;

        &::before {
            content:"";
            display:inline-flex;
            width:2.9rem;
            height:2.9rem;
            margin-right:.5em;
            background:url('icon-instagram.svg') center center no-repeat;
            background-size: cover;
            margin-top:-.1em;
        }

        @include breakpoint(tablet) {
            font-size:4.5rem;

            &::before {
                width:4.3rem;
                height: 4.3rem;
            }
        }

        @include breakpoint(desktop) {
            font-size:6rem;

            &::before {
                width:5.6rem;
                height: 5.6rem;
            }
        }

    }
}


// ----- Import Apps ------ //

@import "app_judgeme";