/* ------ Custom Styles for this theme -------- */

// ------ Include Partials ------- //
@import "mixins";
@import "fonts";

// CSS Variables 

:root {
  --font-family-header-cn: 'FSIndustrieCondensedBold', sans-serif;
  --font-family-script: 'Buinton', cursive;
  --font-family-header-ex: 'FSIndustrieExtendedBlack', sans-serif;
  --font-family-header-alt: 'Editor', sans-serif;
  --font-family-body: 'FSKimText', serif;
  --color-main:#004356;
  --color-accent:#C15232;
  --color-white:#ffffff;

}

// General Font Styles //

.script {
    font-family: var(--font-family-script);
}
.header-cn {
    font-family: var(--font-family-header-cn);
}
.header-ex {
    font-family: var(--font-family-header-ex);
}
.header-alt {
    font-family: var(--font-family-header-alt);
    font-weight:normal;
}

//------ Layout/Setup --------- //

body {
    font-family: var(--font-family-body);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale

}
// ---- General/Misc Items ------ //

.bg-chevron-white {
    background:#F2F2F2 url('bg-chevron-white.svg') center center repeat;
    background-size:23374.6px 1740.6px;
}
.bg-chevron-blue {
    background:#004356 url('bg-chevron-blue.svg') center center repeat;
    background-size:23374.6px 1740.6px;
}